name: ROS2 Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: ros:humble-ros-base
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4      
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y python3-colcon-common-extensions
          rosdep update
          rosdep install --from-paths . --ignore-src -r -y
      
      - name: Build workspace
        run: |
          source /opt/ros/humble/setup.bash
          colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release
